* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;

}





.nav-links a {
  margin: 0 15px;
  text-decoration: none;

  opacity: 0.85;
}

.nav-links a:hover {
  opacity: 1;
}

/* Buttons */
.btn {
  padding: 10px 18px;
  border-radius: 6px;
  background-color:#30b868;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  color:white;
}

.btn-outline {
  color: white;
}

.btn-primary {
  background: #3ddc97;
  color: #0f1c2e;
}

.btn-secondary {
  border: 1px solid #ffffff;
  color: #ffffff;
}

/* Hero Section */
.hero {
  max-width:1600px;
  margin: 0 auto;
  align-items: center;
  background:url("../B13-A01-Knowledge-Vault/assets/hero-bg.png");
  border:2px solid black;
}
.hero-content {
    max-width: 1360px;
    margin: 0 auto;
    height: 378px;
    display:flex;
    justify-content: center;
    align-items: center;
  flex-wrap: wrap;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.

/*badge {
  display: inline-block;
  background: rgba(61, 220, 151, 0.15);
  color: #3ddc97;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 14px;
  margin-bottom: 20px;
  align-items: center;
}*/

h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.highlight {
  color: #3ddc97;
}

p {
  font-size: 18px;
  line-height: 1.6;
  opacity: 0.9;
  margin-bottom: 30px;
}

.hero-buttons a {
  margin-right: 15px;
}

/*section-3 css */
.section-3{
  max-width: 1600px;
  margin: 0 auto;
  display:flex;
  justify-content: center;
}
.section-box{
  background-color: antiquewhite;
  max-width: 1360px;
  margin: 0 auto;
 border: 3px solid black;
 display:flex;
 flex-wrap: wrap;
 justify-content:space-between;
 align-items:center;
}

.b1{
  margin: 0 auto;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.into-b1{

}
.b-2{
   display:flex;
   justify-content:space-around;
   padding-left:150px;
}

.b-2 .b2{
  width:300px;
  padding:20px;
  margin:0 auto;
  align-items: center;

}
/*making icon*/
.icon{
  width:50px;
  height: 50px;
  background-color:coral;
  border-radius:50% ;
}